body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    padding: 20px;
    background: rgba(241, 236, 236, 0.433);
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.option {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background: rgba(255, 255, 255, 0.432);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    background: rgba(255, 255, 255, 0.5);
}
